
- if (user.title)
  h1 Editing #{user.title}
- else
  h1 New User

!= messages()

form#text(action=base + '/user' + (user.name ? '/' + user.id : ''), method='post')
  - if (user.title)
    input(type='hidden', name='_method', value='put')
  p
    label(for='user[name]') Title:
    input(type='text', name='user[name]', value=user.name)
  p
    label(for='user[bio]') Bio:
    textarea(name='user[bio]')= user.bio || ''
  p
    input(type='submit', value=text.title ? 'Update' : 'Register')
  