.user
  // Name
  a.view(href=base + '/user/' + user.id)
    h2
      = user.name
    a.edit(href=base + '/user/' + user.id + '/user') Edit
  
  // flash messages
  != messages()
  
  // dates
  p.date.created Created at #{user.createdAt}
  - if (user.updatedAt)
    p.date.updated Updated at #{user.updatedAt}
  
  // bio
  pre.bio= user.bio