.text
  // title
  a.view(href=base + '/text/' + text._id)
    h2
      = text.title
    a.edit(href=base + '/text/' + text._id + '/edit') Edit
  
  // flash messages
  != messages()
  
  // dates
  p.date.created Created at #{text.createdAt}
  - if (text.updatedAt)
    p.date.updated Updated at #{text.updatedAt}
  
  // body
  pre.body= text.body